.vp-hero-actions {
    justify-content: center;
    
    
}

.vp-hero-action-button {
    width: 300px;
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}