:root {
    --content-width: 1080px;
    
    --border-radius: 10px;
    
    --small-spacing-vertical: .5rem;
    --small-spacing-horizontal: 1rem;
    --small-spacing: var(--small-spacing-vertical) var(--small-spacing-horizontal);
}

.vp-hero-actions {
    justify-content: center;
}

.vp-hero-action-button {
    width: 300px;
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.vp-page-nav {
    border-top: none;
    
    > .route-link {
        border: none;
        padding: var(--small-spacing);
        border-radius: var(--border-radius);
        
        &.next{
            margin-right: calc(var(--small-spacing-horizontal) * -1);
        }
        
        &.prev {
            margin-left: calc(var(--small-spacing-horizontal) * -1);
        }
    }
    
    
}

.theme-default-content {

    img {
        display: block;
        border-radius: var(--border-radius);
        margin: 3rem auto;
    }
    
    figure {
        width: fit-content;
        display: block;
        margin: 3rem auto;
        img {
            margin: 0;
        }
        
        figcaption {
            margin-top: 1rem;
            font-style: italic;
            
            &:before {
                content: 'Figure';
                margin-right: .5rem;
                font-weight: bold;
            }
        }
    }

    table {
        width: fit-content;
        margin: 3rem auto;
        
        border-radius: var(--border-radius);
        border-collapse: collapse;
        border: 2px solid var(--vp-c-border-hard, #d1d4d7);

        > thead > tr:first-child {
            border-top: none;

            th {
                border-top: none;
            }
        }

        > thead > tr > th:first-child {
            border-left: none;
        }

        > thead > tr > th:last-child {
            border-right: none;
        }

        > tbody > tr > td:first-child {
            border-left: none;
        }

        > tbody > tr > td:last-child {
            border-right: none;
        }

        > tbody > tr:last-child {
            border-bottom: none;

            td {
                border-bottom: none;
            }
        }
    }
}